<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Online-store</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li>Online-store</li>
        </ul>
        <ul class="flex gap-5 nr-10">
            <li><a href="http://127.0.0.1:8000/auth/login">Log in</a> </li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}You are logged out of your account{% endblock %}
    </div>
</body>
</html>